<div ng-controller="SearchCtrl">
    <div class="row">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="radio">
                        Order results by:
                        <label><input type="radio" value="name" ng-model="typeheadSortType"
                                      checked="checked">name</label>
                        <label><input type="radio" value="age" ng-model="typeheadSortType">age</label>
                        <label><input type="radio" value="job" ng-model="typeheadSortType">job</label>
                        <label><input type="radio" value="grade" ng-model="typeheadSortType">grade</label>
                    </div>
                </div>

                <div class="input-group">
                    <input type="text" maxlength="50" class="form-control"
                           placeholder="Search by name, job, age or grade"
                           ng-model="searchTerm" typeahead-on-select="addTag($item)"
                           typeahead="employee as employee.name + ' , ' + employee.age + ' , ' + employee.job + ' , ' + employee.grade for employee in matchAnyWords($viewValue)"
                           typeahead-editable="false">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" tooltip="Add to team">Refresh</button>
                </span>
                </div>
                * type in more space-separated words to get more detailed results
            </div>

            <div class="form-group">
                <div class="input-group">
                    <tags-input ng-model="tags">
                        <auto-complete source="loadTags($query)"></auto-complete>
                    </tags-input>
                </div>
            </div>
        </form>
    </div>
</div>