<div ng-controller="SearchCtrl">
    <div class="row">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="radio">
                        Order results by:
                        <label><input type="radio" value="name" ng-model="typeheadSortType"
                                      checked="checked">name</label>
                        <label><input type="radio" value="age" ng-model="typeheadSortType">age</label>
                        <label><input type="radio" value="job" ng-model="typeheadSortType">job</label>
                        <label><input type="radio" value="grade" ng-model="typeheadSortType">grade</label>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"
                                ng-disabled="setRefreshButtonStatus()" ng-click="refresh()">Refresh</button>
                    </span>
                </div>

                <div class="input-group-lg">
                    <tags-input ng-model="tags"
                                placeholder="Search by name, job, age or grade"
                                replace-spaces-with-dashes="false"
                                add-from-autocomplete-only="true"
                                display-property="name"
                                key-property="id"
                                max-tags="8"
                                template="tagsTemplate"
                                on-tag-added="addTag($tag)"
                                on-tag-removed="removeTag($tag)">
                        <auto-complete source="matchAnyWords($query)"
                                       min-length="0"
                                       max-results-to-show="-1"
                                       highlight-matched-text="false"
                                       debounce-delay="200"
                                       template="autocompleteTemplate">
                        </auto-complete>
                    </tags-input>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Tags and Autocomplete custom templates -->
<script type="text/ng-template" id="tagsTemplate">
    <div>
        <div tooltip="{{data.age}}, {{data.job}}, {{data.grade}}">
            <span>{{data.name}}</span>
            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="autocompleteTemplate">
    <div>
        <span>{{data.name}}, {{data.age}}, {{data.job}}, {{data.grade}}</span>
    </div>
</script>
