<br ng-controller="TeamsCtrl">

<form class="form-inline" ng-submit="addTeam()">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Add new team">
        <button type="submit" class="btn btn-default">+</button>
    </div>
</form></br>

<accordion close-others="oneAtATime">

    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
        {{group.content}}
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>

</accordion>

</div>