<form name="addTeamForm" class="form-inline" ng-submit="addTeam(teamName, addTeamForm.$valid)" novalidate>
    <div class="form-group">
        <p class="text-danger" ng-show="addTeamForm.teamName.$error.maxlength">{{teamsConf.msgMaxLength}}
            {{teamsConf.teamNameLengthMax}}</p>
        <p class="text-danger" ng-show="addTeamForm.teamName.$error.pattern">{{teamsConf.msgLatinCharsOnly}}</p>
        <p class="text-danger" ng-show="addTeamForm.teamName.$error.uniquename">{{teamsConf.msgNameTaken}}</p>

        <input type="text" class="form-control" name="teamName" ng-model="teamName"
               ng-maxlength="teamsConf.teamNameLengthMax"
               ng-pattern="teamsConf.regexpAlphanum" placeholder="{{teamsConf.msgAddTeamPlaceholder}}" uniquename
               required>
        <button type="submit" class="btn btn-default" ng-disabled="setAddButtonStatus(addTeamForm.$valid)">+</button>
    </div>
</form>
<span class="glyphicon glyphicon-info-sign"></span>
<span class="small text-info"><i>Limit: {{teamsConf.teamsLimit}} teams with {{teamsConf.teamMembersLimit}} members each.</i></span>
</br></br>

<accordion close-others="oneAccordionAtATime">

    <accordion-group ng-repeat="team in teams">
        <accordion-heading>
            <div ng-click="setSelectedTeam($index)">
                {{$index+1}}. {{team.collectionName}}
            </div>
        </accordion-heading>

        <div class="pull-right">
            <button class="btn btn-default btn-xs" ng-click="removeTeam()">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
        </div>
        <div ng-repeat="member in team.models">
            <div tooltip="{{member.age}}, {{member.grade}}, {{member.job}}">
                {{$index+1}}. {{member.name}}
                <span class="glyphicon glyphicon-remove" ng-click="removeTeamMember(member.id)"></span>
            </div>
        </div>

    </accordion-group>

</accordion>