<br ng-controller="TeamsCtrl">

<form name="addTeamForm" class="form-inline" ng-submit="addTeam(teamName, addTeamForm.$valid)" novalidate>
    <div class="form-group">
        <p class="text-danger" ng-show="addTeamForm.teamName.$error.maxlength">* can be not longer than 29
            characters</p>
        <p class="text-danger" ng-show="addTeamForm.teamName.$error.pattern">* use only latin letters, numbers and
            spaces</p>
        <p class="text-danger" ng-show="addTeamForm.teamName.$error.uniquename">* this team name is taken</p>

        <input type="text" class="form-control" name="teamName" ng-model="teamName" ng-maxlength="29"
               ng-pattern="regexpAlphanum" uniquename required>
        <button type="submit" class="btn btn-default" ng-disabled="addTeamForm.$invalid">+</button>
    </div>
</form></br>

<accordion close-others="oneAtATime">

    <accordion-group heading="{{team.collectionName}}" ng-repeat="team in teams" ng-click="setSelectedTeam($index)">
        <div ng-repeat="member in team.models">{{member.name}}</div>
    </accordion-group>

</accordion>

</div>